body{
  margin:0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #40514E;
}

hr{
  border-style: dotted none none none;
  border-width: 5px;
  border-color: white;
  text-align: left;
  width: 30%;
  margin: 50px auto;
}

h1{
  margin: 25px 0 10px 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 5.625rem;
  color: blue;
}

h2{
  font-size: 2.5rem;
  font-weight: lighter;
  color: #00bcd4;
  font-weight: lighter;
  padding-bottom: 10px;
}

h3{
  color: #00bcd4;
}

p{
  color: #40514E;
  line-height: 2;
}

a{
  padding-left: 5px;
  padding-right: 5px;
  color: #00bcd4;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a:hover{
  color: #11999E;
}

/****divs***/

.web-master{
  color: blue;
}
.top-container{
  background-color: #f09ae9;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  padding: 50px;
  background-color: #ffe78f;
}

.intro{
  width: 30%
  margin: auto;
}
.bottom-container{
  background-color: #ffc1fa;
  padding: 50px 0 20px;
}

.top-cloud{
  position:absolute;
  right: 275px;
  top: 40px;
}

.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}

.profile-pic{
  width:15%;
  height: auto;
}

.icon{
  width: 25%;
  border: solid;
  border-radius: 20px;
  color: transparent;
}

.code-icon{
  float: left;
  margin-right: 30px;
}

.pizza-icon{
  float: right;
  margin-left: 30px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}



.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.footer-copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
	box-shadow:inset -2px -2px 1px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
	font-size:24px;
	padding:10px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.btn:active {
	position:relative;
	top:1px;
}
